*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "ABeeZee", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
}
.clearfix:after {
  clear: both;
  content: "";
  display: table;
}
.clearfix {
  display: inline-block;
}
.container {
  background: #fff;
  margin: 0 auto;
  max-width: 900px;
  padding: 0;
}
h1 {
  color: #333;
  font-family: "Poiret One", cursive;
  font-size: 2.5em;
}
h1 sup {
  color: #999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .5em;
}
h2 {
  font-size: 1.75em;
}
.row {
  margin: 0 0 1.25em;
}
.row:last-child {
  margin-bottom: 0;
}
div[class*="col-"] {
  float: left;
}
.conf {
  float: left;
  margin: 1.25em .75em; 
}
hr {
  border: 0;
  border-top: 1px solid #333;
  margin: 1.25em .75em;
}
.conf a img {
  height: auto;
  margin: 1em 0;
  width: 200px;
}
.conf p {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}
.onsale:before {
  background: #f00;
  color: #fff;
  content: "Tickets On Sale Now!";
  display: block;
  font-size: .75em;
  font-weight: bold;
  margin: 0 0 -22px;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 200px;
}
.opencfp a:after {
  background: #00f;
  color: #fff;
  content: "Open Call For Speakers!";
  display: block;
  font-size: .75em;
  font-weight: bold;
  margin: -23px 0 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 200px;
}
section {
  color: #333;
  line-height: 1.5;
  padding: 0 1.75em;
  text-align: justify;
}
.wanttorun,
.gplus {
  margin: 2.5em 0;
  text-align: center;
}
@media only screen and (max-width: 300px) {
  .container {
    width: 220px;
  }
  body {
    margin : 0;
  }
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  .container {
    width: 220px;    
  }  
  body {
    margin : 0;
  }
}
@media only screen and (min-width: 480px) and (max-width: 680px) {
  .container {
    width: 500px;    
  }
}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 1.25em;
  }
  hr {
    margin: .25em 0;
  }
  .conf {
    margin: .25em .75em 0;
  }
  .conf a img {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 500px) and (max-width: 800px) { 
  .container {
    width: 480px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 900px) {
  .container {
    width: 770px;
  }
  .clearfix {
    margin-left: 50px;
  }
}
@media only screen and (min-width: 900px) and (max-width : 1100px) {
  .container {
    width: 875px;
  }
  .clearfix {
    margin-left: 100px;
  }  
}