body{background:black url(http://static.jsconf.us/planks.slim.jpg) top center repeat-x;padding:0;margin:0;top:0;bottom:0;font-family:helvetica,arial,sans-serif;font-size:12px;text-align:center;}
div#class_pictures{margin:24px 0;text-align:center;}
#container{margin:0 auto;}
div.block{height:528px;width:862px;background:white;margin:0 auto;text-align:left;}
code.example{background:black;border:1px solid #cecece;padding:8px;margin:8px 0;display:block;color:#fffffa;}
#viewport{text-align:center;margin:0 auto;}
.left{margin-left:10px;margin-top:325px;float:left;text-align:center;width:370px;}
textarea{width:100%;height:150px;margin:8px 0;}
#header{text-align:center;margin:0 auto;}
#navigation{width:900px;height:135px; margin:0 auto;margin:0 auto;background:transparent url(http://static.jsconf.us/header.jpg) top left no-repeat;z-index:99px;text-align:center;}
#navigation ul{list-style:none;padding:50px 40px 0 250px;margin:0;}
#navigation li{float:left;}
#navigation li a{display:block;color:#f4f4f4;padding:7px;font-weight:bold;font-size:14px;text-decoration:none;font-family:georgia;}
#articles .inner{background:transparent url(http://static.jsconf.us/articles.jpg) 0 0 no-repeat;}
#articles .bottom{background:transparent url(http://static.jsconf.us/blogbottom.jpg) 0 0 no-repeat; height:78px; width: 862px;}
#articles.block{background:transparent url(http://static.jsconf.us/blogbg.jpg) 0 0 repeat-y; height: auto;}

#venue .inner{background:transparent url(http://static.jsconf.us/venue1.jpg) 0 0 no-repeat;}
#venue .bottom{background:transparent url(http://static.jsconf.us/venuebottom1.jpg) bottom left no-repeat; height:145px; width: 862px;}
#venue.block{background:transparent url(http://static.jsconf.us/venuebg1.jpg) bottom left repeat-y; height: auto; margin-bottom: 40px;}
#venue b { font-size:150%; color:black;}

#schedule.block, #cancellation.block{background:transparent url(http://static.jsconf.us/schedulerepeat.jpg) 0 0 repeat-y; height: auto;}
#schedule .inner {background:transparent url(http://static.jsconf.us/schedule2.jpg) 0 0 no-repeat; padding-bottom: 20px;}
#home{background:transparent url(http://static.jsconf.us/home.jpg) 0 0 no-repeat;}
#home h1{display:none;}
#videos{background:transparent url(http://static.jsconf.us/video.jpg) 0 0 no-repeat;}
#register{background:transparent url(http://static.jsconf.us/registration.jpg) 0 0 no-repeat;}
#sponsors .inner{background:transparent url(../images/sponsors.jpg) 0 0 no-repeat;}
#sponsors .inner { padding-bottom: 20px;}
#sponsors.block { height: auto; background:transparent url(../images/sponsor_repeat.jpg) 0 0 repeat-y;}
#about{background:transparent url(http://static.jsconf.us/about.jpg) 0 0 no-repeat;}
#speakers{background:transparent url(http://static.jsconf.us/speakers.jpg) 0 0 no-repeat;}
#venue{background:transparent url(http://static.jsconf.us/venue.jpg) 0 0 no-repeat;}
#navigation a{color:white;}
.block .inner{padding-left:110px;padding-right:55px;padding-top:20px;color:#fffffa;line-height:1.4;}
#speakers.block .inner{padding-left:400px;}
.block a,.block a:visited{color:#f7b04d;}
.registernow{float:right;margin-bottom:12px;margin-left:12px;}
#articles.block h2{display:none;}
#articles.block .inner{padding-left:135px;padding-top:40px;}
#articles.block .article{margin-bottom:12px;}
.article h3{font-weight:bold;font-size:14px;margin-top:0;margin-bottom:0;}
.article .dateline{font-size:10px;font-style:italic;margin-bottom:6px;}
.article .body{font-size:12px;}
#articles.block .body p{margin-top:0;}
#article_listing{width:630px;}
.event h4{display:none;}
.event{background:transparent url(http://static.jsconf.us/ticket.png) top center no-repeat;height:312px;margin:6px auto 0;width:559px;}
.container{width:440px;margin:0 auto;}
.event table{line-height:22px;padding-bottom:11px;width:100%;font-size:12px;}
table{border-spacing:0;border-collapse:separate;}
.tickets{padding-top:90px;color:black;}
table,td,th{vertical-align:middle;}
thead td{font-weight:bold;}
.event table td{border-bottom:1px solid #dadada;}
button{position:relative;border:0;overflow:visible;padding:0;cursor:pointer;color:#303030;padding:0 5px 0 0;font-weight:bold;height:33px;margin:0;background:url("http://guestlistapp.com/images/1262492555/buttons-right.png") right -157px no-repeat;}
button span{display:block;position:relative;white-space:nowrap;line-height:33px;height:33px;padding:0 15px 0 20px;background:url("http://guestlistapp.com/images/1262492555/buttons-left.png") left -157px no-repeat;}
button:hover,button:focus{background:url("http://guestlistapp.com/images/1262492555/buttons-right.png") right -191px no-repeat;outline:none;}
button:hover span,button:focus span,button.disabled:focus span{background:url("http://guestlistapp.com/images/1262492555/buttons-left.png") left -191px no-repeat;}
button::-moz-focus-inner{border:none;padding:0;}
@media screen and (-webkit-min-device-pixel-ratio:0){button span{margin-top:-1px;}
}
.tickets table .quantity{text-align:right;width:50px;}
a img{border:0;}
#venue h2,#videos h2{display:none;}
#venue .inner p{background:none;padding:0;}
#videos .title{text-align:center;margin-top:2px;background:transparent url(http://static.jsconf.us/grad.png) top left;padding:2px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#videos .inner p{color:white;background:transparent url(http://static.jsconf.us/grad.png) top left;padding:8px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#twitter{float:left;height:130px;overflow:hidden;width:295px;margin-left:33px;}
#top_article h3{margin:0;padding:0;margin-bottom:2px; margin-top:6px;}
#top_article h3 a{ color: #f4f4f4; font-weight:bold; }
#top_article{float:left;height:130px;width:390px;}
#top_article .article .body { font-size: 10px;}
#top_article .article h3 { font-size: 11px;}
#top_article .article .dateline { margin-bottom:2px;}
#top_article a{color:black;}
#home .buffer{height:355px;}
#video_listing{height:360px;overflow:auto;}
#video_listing a{display:block;margin-right:10px;margin-bottom:10px;float:left;}
a img{border:0;}
#home .inner{padding-right:0;}
.query{font-family:Arial,serif;font-size:10px;background:transparent url(http://static.jsconf.us/grad.png) top left;padding:8px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px color:white;}
.query .tweet_list{list-style-type:none;margin:0;padding:0;background-color:transparent;}
.query .tweet_list li{overflow:auto;padding:2px;}
.query .tweet_list .tweet_avatar{padding-right:.5em;float:left;}
.query .tweet_list .tweet_avatar img{border:1px solid #3f3f3f;vertical-align:middle;}
#speakers h2{margin-top:0;padding-top:0;}


#venue a { color:black;}


#speaker_line { height: 100px; width: 750px; margin-left: 100px; padding-top: 20px;}
#speaker_line ul { margin:0px; padding: 0px; list-style: none;}
#speaker_line ul li {float:left; margin-right: 8px;}
#speaker_line .prev { position:absolute;}
#speaker_line .arr { line-height:96px; vertical-align:middle; }
#speaker_line .next { position:absolute; margin-left: 688px;}
#speaker_line #speaker_carousel { margin-left: 40px; }


#speaker_bios { padding-right:12px; color: white;}
#speaker_bios .title { font-weight:bold; margin-bottom: 4px; font-size:120%;}
#speaker_bios .bio { line-height: 1.4; }
#speaker_bios .bio a { color: white;}
#speaker_bios .bio img { float: left; margin-top:27px; margin-left:130px; }
#speaker_bios .bio .text { margin-left: 380px; margin-top: 0px;}
#speaker_bios .bio .name { font-weight: bold; font-size: 150%; margin-bottom: 6px;}
#speaker_bios .bio h5 { margin: 6px 0px; font-size: 12px;}
  
  
  
.shadow {color:white;background:transparent url(http://static.jsconf.us/grad.png) top left;padding:8px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.timeslot .title { margin-top:6px; font-weight: bold; }
.timeslot .name { font-style: italic; font-size:11px;}
.timeslot .time { font-weight: bold; font-size: 12px;}
.timeslot { padding: 8px; border-bottom: 1px solid #333;}


#list { margin-bottom: 12px; background: black;}
#list a { text-decoration:none;}
.sponsor { text-align: left; margin-bottom:12px;}

.sponsor .logo { float:left; width: 210px; text-align:center; padding: 8px 0px;}
.sponsor .desc { margin-left:220px; background: black;}
.sponsor .desc h3 { margin:0px;}


#schedulebg { background: white; color:black; padding:8px;}
#schedulebg table { width:100%;}
#schedulebg table td.day { text-align:center; background:black; color:white; font-weight:bold; }
#schedulebg table td, #schedulebg table th { padding:4px; vertical-align: top;}
#schedulebg table td.time { width:80px; font-weight:bold;}
#schedulebg table h4 { margin: 0px;}


#schedulebg .len15 { height: 40px; border-bottom: 1px solid #eee;}
#schedulebg .len30  { height: 80px; border-bottom: 1px solid #eee;}
#schedulebg .len45  { height: 120px; border-bottom: 1px solid #eee;}

#schedulebg table table td { padding:0px;}

.bb td { border-bottom: 1px solid #eee;}
#schedulebg .len15 td { height: 40px; border-bottom: 1px solid #eee; overflow:hidden;}
#schedulebg .len30 td  { height: 80px; border-bottom: 1px solid #eee; overflow:hidden;}
#schedulebg .len45 td  { height: 120px; border-bottom: 1px solid #eee; overflow:hidden;}
#schedulebg .len15 td div.tb { height: 36px; overflow:hidden; }
#schedulebg .len30 td div.tb  { height: 76px; overflow:hidden;}
#schedulebg .len45 td div.tb  { height: 116px; overflow:hidden;}
.tb .title {  padding-bottom: 2px; margin-bottom: 2px;}
.tb .description { font-size: 10px;}

#schedulebg table div.name { font-weight:bold;}
#schedulebg table div.title { font-size: 12px;}

#schedulebg table table .track_header td { background: black; font-weight:bold; color:white; padding:4px;}
#schedulebg table table td { background:#eee;}
#schedulebg table table table td { background:white;}

.w, .tb { padding: 4px 8px 0px 8px}

#schedulebg a { color: #66402c; }

.regform .field { margin-bottom:3px; }
.regform label { font-weight: bold;}
.regform .field label {width: 75px; font-weight: bold; display:block; float:left; padding:8px 0px; font-size:12px;}
.regform .field input { margin-left:90; width:200px; font-size: 12px; }
.regform #spinner, .regform #spinner img { vertical-align: middle; }

.regform .text { padding-top: 8px }    
/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


#facebox .error { 
    border: 3px solid red;
    border-left: 0px;
    border-right: 0px;
    padding: 8px;
    text-align:center;
    margin: 12px;
}

#cancellation.block .inner{padding-left:55px;padding-right:55px;}
#cancellation.block .inner .shadow { padding: 12px; margin-bottom: 12px;}
#cancellation.block {margin-bottom:24px; padding-bottom:12px;}

.employer { display:none;}

.tb .description { display:none;}